<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @book.memo %>
</p>

<p>
  <strong>Level:</strong>
  <%= @book.level.title %>
</p>
<%= link_to 'Delete',@book,
            method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger' %>
<%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-primary' %>
<%= link_to 'Back', books_path, class: 'btn btn-default' %>
