<%= form_with(model: level, html: {class: 'form-horizontal', role: 'form'}) do |form| %>
  <% if level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(level.errors.count, "error") %> prohibited this level from being saved:</h2>

      <ul>
        <% level.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, class: 'col-sm-1 control-label' %>
    <div class='col-sm-10'>
      <%= form.text_field :title %>
    </div>
  </div>

  <div class="actions">
    <div class='form-group'>
      <div class='col-sm-offset-1 col-sm-10'>
        <%= form.submit 'Submit',class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>
